@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}
.black-han sans-regular {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: "Black Han Sans", sans-serif;
}
body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #cdeece;
  width: 100%;
}
.header-r {
  display: flex;
  h1 {
    margin-right: 2rem;
  }
}

a {
  text-decoration: none;
  color: black;
}
.big-head {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3rem;
  margin-right: 2rem;
}
.big-head > h1 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}
.main-page {
  text-align: center;
}
.about-page,
.main-page,
.goal-page {
  height: 625px;
}
.introduce_text > p {
  color: #7cc480;
  font-family: "Black Han Sans", sans-serif;
  margin-top: 3rem;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1em; /* 줄 간격을 1.5배로 설정 */
}
.emphasize {
  font-family: "Black Han Sans", sans-serif;
  color: white;
  text-shadow: -1px -1px 0 #7cc480, 1px -1px 0 #7cc480, -1px 1px 0 #7cc480,
    1px 1px 0 #7cc480;
}
.main-page > img {
  width: 18rem;
  border-radius: 30px;
  margin-bottom: 120px;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1);
}

.about-page {
  text-align: center;
}
.about-page > h1 {
  font-size: 2.5rem;
  color: #509f54;
}
.about-1 {
  display: flex;
  margin-bottom: 80px;
  justify-content: center;
  margin-top: 3rem;
}
.profile {
  margin-right: 3rem;
  p {
    line-height: 0.3; /* 줄 간격을 1배로 설정 */
    font-size: 2rem;
    color: #509f54;
  }
  .part {
    font-size: 1.6rem;
  }
}
.profile > img {
  width: 20rem;
  border-radius: 30px;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1);
}

.info {
  display: flex;
  margin-left: 3rem;
}
.info-detail {
  margin-bottom: 3rem;
  margin-right: 5rem;
}
.sns_img > a > img {
  width: 1.7rem;
}
.info-detail > h1 {
  color: #509f54;
}
.info-detail > p {
  font-family: "Pretendard-Regular";
  font-weight: 900;
  color: #2a552a;
}
.goal-page {
  text-align: center;
}
.goal-page > h1 {
  font-size: 2.5rem;
  color: #509f54;
}
.goals {
  display: flex;
  justify-content: center;
}
.rec {
  background-color: #ddf2de;
  border-radius: 50px;
  height: auto;
  text-align: center;
  width: 20rem;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1);
}
.top {
  font-size: 1.5rem;
  width: 15rem;
  margin: 0 auto; /* 가운데 정렬을 위해 좌우 마진을 자동으로 설정 */

  p {
    margin-bottom: 0.8rem;
    color: #509f54;
  }
}
.goal-img {
  img {
    border-radius: 50px;
  }
}
.text {
  width: 15rem;
  margin: 0 auto; /* 가운데 정렬을 위해 좌우 마진을 자동으로 설정 */
  margin-bottom: 1.5rem;
  color: #2a552a;
}
footer {
  background-color: #cdeece;
  color: #f4f4f4;
  text-align: center;
  padding: 1em;
  bottom: 0;
  /* position: fixed; */
  /* width: 100%; */
}
footer > p {
  font-family: "Pretendard-Regular";
  font-weight: 600;
}
