@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}
.black-han sans-regular {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: "Black Han Sans", sans-serif;
}
body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #cdeece;
  width: 100%;
}
.header-r {
  display: flex;
  h1 {
    margin-right: 2rem;
  }
}

a {
  text-decoration: none;
  color: black;
}
.big-head {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3rem;
  margin-right: 2rem;
}
.big-head > h1 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}
.main-page {
  text-align: center;
}
.introduce_text > p {
  color: #7cc480;
  font-family: "Black Han Sans", sans-serif;
  margin-top: 3rem;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1em; /* 줄 간격을 1.5배로 설정 */
}
.emphasize {
  font-family: "Black Han Sans", sans-serif;
  color: white;
  text-shadow: -1px -1px 0 #7cc480, 1px -1px 0 #7cc480, -1px 1px 0 #7cc480,
    1px 1px 0 #7cc480;
}
img {
  width: 18rem;
  border-radius: 30px;
  margin-bottom: 120px;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #cdeece;
  color: #f4f4f4;
  text-align: center;
  padding: 1em;
  bottom: 0;
  position: fixed;
  width: 100%;
}
footer > p {
  font-family: "Pretendard-Regular";
  font-weight: 600;
}
